.header{
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 10%;
  padding-top: 1%;
  z-index: 3;
  width: 90%;
}
.header__logo{
  display: inline;
}
.header__logo img{
  margin-left: 7%;
  width: 10%;
}
.header__logo h2{
  display: inline;
  margin-left: 2%;
  font-family: MV Boli;
  vertical-align: 30%;
  color: #ffdb47;
  font-size: 34px;
}
.header__menu{
  margin-right: 5%;
  width: 60%;
  align-self: center;
}
.header__menu ul{
  list-style-type: none;
}
.header__menu li{
  display: inline-block;
  margin-right: 5%;
}
.header__menu a{
  color: white;
}

/*БАННЕР*/
.section__title{
  margin-top: -10%;
  width: 100%;
  z-index: 1;
}
.section__title_banner{
  width: 100%;
}
.section__title_banner img{
  width: 100%;
}
.section__title_blackout{
  background-color: black;
  opacity: 0.3;
  margin-top: -65%;
  z-index: 2;
  padding: 27.2%;
}
.section__title_header{
  margin-top: -40%;
  margin-left: 6%;
  text-align: center;
  position: relative;
  z-index: 3;
  color: white;
}
.section__title_header h1{
  font-size: 59px;
  margin-bottom: -2%;
}
.section__title_header h2{
  font-size: 34px;
  font-weight: 500;
}
.section__title_header h3{
  font-size: 28px;
  font-weight: 500;
  margin-bottom: -2%;
}
.section__title_nav{
  position: relative;
  margin-top: 5%;
  text-align: center;
}
.section__title_nav a{
  padding: 1%;
  border-radius: 5%;
  background-color: #709dca;
  color: white;
  text-transform: uppercase;
}