.main{
    position: relative;
    margin-top: 16%;
    z-index: 4;
    background-color: white;
    width:100%;
}

.section__information_tyrs{
    padding-top: 3%;
    width: 100%;
    padding-bottom: 10%;
}
.section__information_tyrs h2{
    color: #709dca;
    font-size: 24px;
    text-align: center;
    padding-bottom: 3%;
}

.section__information_tyrs_content{
    display: flex;
}
.section__information_tyrs_content img{
    width: 50%;
}
.section__information_tyrs_content_text{
    padding: 2% 3% 3%;
    background-color: #ffc155;
    text-align: left;
}
.section__information_tyrs_content_text h3{
    font-size: 26px;
    color: white;
    
}
.section__information_tyrs_content_text p{
    font-size: 13px;
    line-height: 1.5;
    color: white;
}
.section__information_tyrs_content_text h4{
    font-size: 26px;
    color: white;
    text-transform: uppercase;
}
.section__information_tyrs_content_text a{
    border: 1px solid #cb8d21;
    padding: 2%;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #e7ad48;
    color: white;
}

.section__information_tyrs_content_text-right{
    padding: 2% 3% 3%;
    background-color: #ffc155;
    text-align: right;
}
.section__information_tyrs_content_text-right h3{
    font-size: 26px;
    color: white;
    
}
.section__information_tyrs_content_text-right p{
    font-size: 13px;
    line-height: 1.5;
    color: white;
}
.section__information_tyrs_content_text-right h4{
    font-size: 26px;
    color: white;
    text-transform: uppercase;
}
.section__information_tyrs_content_text-right a{
    border: 1px solid #cb8d21;
    padding: 2%;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #e7ad48;
    color: white;
}
