﻿<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<meta name="google-signin-client_id" content="31428851599-g45pluqupuu3oum4uiofp2k3kfbfl9r4.apps.googleusercontent.com">
	<script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
