﻿@page
@model LoginModel
@{
	Layout = "_Layout";
	ViewBag.Title = "Вход";
}

<h2>Авторизация</h2>
<hr />
<form method="post">
	<div asp-validation-summary="All"></div>
	<div>
		<label asp-for="Login"></label><br />
		<input asp-for="Login" />
		<span asp-validation-for="Login"></span>
	</div>
	<div>
		<label asp-for="Password"></label><br />
		<input asp-for="Password" />
		<span asp-validation-for="Password"></span>
	</div>
	<div>
		<label asp-for="RemembeMe"></label><br />
		<input asp-for="RemembeMe" />
	</div>
	<div>
		<button>Войти</button>
	</div>
</form>
<br />
<a asp-page="/Index"><button>Отмена</button></a>
<br />

@*<from method="get">
	<button>Войти через Google</button>
</from>*@


@*<div class="g-signin2" data-onsuccess="onSignIn" ></div>
<script>
		function onSignIn(googleUser) {
			// Useful data for your client-side scripts:
			var profile = googleUser.getBasicProfile();
			console.log("ID: " + profile.getId()); // Don't send this directly to your server!
			console.log('Full Name: ' + profile.getName());
			console.log("Email: " + profile.getEmail());

			//// The ID token you need to pass to your backend:
			//var id_token = googleUser.getAuthResponse().id_token;
			//console.log("ID Token: " + id_token);
		};

</script>*@



