﻿@page
@model RegisterModel
@{
	Layout = "_Layout";
}

<h2>Регистрация</h2>
<hr />
<form method="post" >
	<div asp-validation-summary="All"></div>
	<div>
		<label asp-for="R_Username"></label><br />
		<input asp-for="R_Username" />
	</div>
	<div>
		<label asp-for="R_Email"></label><br />
		<input asp-for="R_Email" />
		<span asp-validation-for="R_Email"></span>
	</div>
	<div>
		<label asp-for="R_Login"></label><br />
		<input asp-for="R_Login" />
	</div>
	<div>
		<label asp-for="R_Password"></label><br />
		<input asp-for="R_Password" />
		<span asp-validation-for="R_Password"></span>
	</div>
	<div>
		<label asp-for="R_PasswordConfirm"></label><br />
		<input asp-for="R_PasswordConfirm" />
		<span asp-validation-for="R_PasswordConfirm"></span>
	</div><br />
	<div>
		<input type="submit" value="Регистрация" /><br />
	</div>
</form>

<a asp-page="/Index"><button>Отмена</button></a>

