﻿@page
@model AdminPageModel
@{
	Layout = "_Layout";
	ViewBag.Title = "Страница админа";
}

<h2>Страница админа</h2>
<hr />
<table>
	<thead>
		<tr><th>Id</th><th>UserName</th><th>Email</th><th></th></tr>
	</thead>
	<tbody>
		@if (Model.Users.Count() == 0)
		{
			<tr colspan="4"><td>No Users</td></tr>
		}
		else
		{
			foreach (var user in Model.Users)
			{
				<tr>
					<td>@user.Id</td>
					<td>@user.UserName</td>
					<td>@user.</td>
					<td>
						<form asp-page="AdminPage" method="post">
							<input type="hidden" name="Id" value="@user.Id" />
							<a asp-page="Editor">Edit</a>
							<button>Delete</button>
						</form>
					</td>
				</tr>
			}
		}
	</tbody>
</table>

<a asp-page="/Create">Create</a>